body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,ul,li,pre,fieldset,legend,button,input,textarea,form,th,td,figure{margin:0;padding:0}


@font-face{
  font-family:"siyuan";
  src:url("../font/siyu.eot");
  src: url('../font/siyu.eot?#font-spider') format('embedded-opentype'),
    url('../font/siyu.woff') format('woff'),
    url('../font/siyu.ttf') format('truetype'),
    url('../font/siyu.svg') format('svg');
}

/* 重置默认字体和大小 */
body{ font-size:0.28rem; font-family:siyuan,Microsoft Yahei,Helvetica,Arial,sans-serif; width:7.5rem;margin:0px auto;/* color:#606366; background:#f2f2f2; */}
h1,h2,h3,h4,h5,h6,b{font-size:100%;font-weight:normal}
em{font-style:normal}
strong{font-weight:700}
button,input,select,textarea{font-size:100%;-moz-appearance:none; -ms-progress-appearance:none; -webkit-appearance:none;font-family:Helvetica,Arial,sans-serif;}
/*重置文本格式*/
a{text-decoration:none}/*;  color:#525252; */
q:before,q:after{content:""}
/* 重置表格元素 */
table{border-collapse:collapse;border-spacing:0}
/* 去除默认边框 */
fieldset,img{border:none}
/* 重置列表元素 */
ul,ol{list-style:none}
/* 媒体元素 */
audio:not([controls]){display:none;height:0}
.display-flex,.wap-app > ul{display:-moz-box;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:-ms-flex;display:flex}
.flex-box,.search-page .search-input{display:-moz-box;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:-ms-flex;display:flex}

/* float */
.fd-left{float:left}
.fd-right{float:right}
.fd-clear{clear:both}
.fd-clr:after{display:block;clear:both;height:0;content:"\0020"}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}

/* position */
.fd-locate{position:relative}
.fd-locate-center{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
}
.fd-locate-horizontal{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
}
.fd-locate-vertical{
    position:absolute;
    left:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}


/* display */
.fd-hide{display:none}
.fd-show{display:block}
.dib{display: inline-block;}
.fd-table{ display:table; width:100%;}

/* 设置元素的盒模型为flex */
.flex{ display:-webkit-box;display:-moz-box;display:-webkit-flex;display:flex;}
.flex .flex_div{-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;flex:1 1 0; } 


/* 禁止长按链接与图片弹出菜单 */
img{ vertical-align:middle;width:100%;}
a,img {-webkit-touch-callout: none;}
a{-webkit-tap-highlight-color: rgba(0,0,0,0)}
.text-left{ text-align:left;}
.text-center{ text-align:center;}
.text-right{ text-align:right;}
.fixtop{
	position:fixed;
	width:7.5rem;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -o-transform:translateX(-50%);
	top:0px;
	height:1rem;
  line-height:1rem;
  text-align:center;
	z-index:2;
}
.fixbottom{
    position:fixed;
    width:7.5rem;
    bottom:0px;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    height:1rem;
    line-height:1rem;
    text-align:center;
    z-index:2; 
}
.fixbottom a{
   background:#c10212;
   display:block;
   height:100%;
   font-size:0.4rem;
   color:#fff;
}

/* margin */
.mart0{margin-top:0px !important}
.mart10{margin-top:0.1rem !important;}
.mart15{margin-top:0.15rem !important;}
.mart20{margin-top:0.2rem !important;}
.mart25{margin-top:0.25rem !important;}
.mart30{ margin-top:0.3rem !important;}
.mart35{margin-top:0.35rem !important;}
.mart40{margin-top:0.4rem !important;}
.mart45{margin-top:0.45rem !important;}
.mart50{margin-top:0.5rem !important;}
.mart60{margin-top:0.6rem !important;}

.marr0{margin-right:0 !important;}
.marr10{margin-right:0.1rem !important;}
.marr15{margin-right:0.15rem !important;}
.marr20{margin-right:0.2rem !important;}
.marr25{margin-right:0.25rem !important;}
.marr30{margin-right:0.3rem !important;}
.marr35{margin-right:0.35rem !important;}
.marr40{margin-right:0.4rem !important;}
.marr45{margin-right:0.45rem !important;}
.marr50{margin-right:0.5rem !important;}
.marr60{margin-right:0.56rem !important;}

.marb0{margin-bottom:0px !important;}
.marb10{margin-bottom:0.1rem !important;}
.marb15{margin-bottom:0.15rem !important;}
.marb20{margin-bottom:0.2rem !important;}
.marb25{margin-bottom:0.25rem !important;}
.marb30{margin-bottom:0.3rem !important;}
.marb35{margin-bottom:0.35rem !important;}
.marb40{margin-bottom:0.4rem !important;}
.marb45{margin-bottom:0.45rem !important;}
.marb50{margin-bottom:0.5rem !important;}
.marb60{margin-bottom:0.6rem !important;}

.marl0{margin-left:0px !important;}
.marl10{margin-left:0.1rem !important;}
.marl15{margin-left:0.15rem !important;}
.marl20{margin-left:0.2rem !important;}
.marl25{margin-left:0.25rem !important;}
.marl30{margin-left:0.3rem !important;}
.marl35{margin-left:0.35rem !important;}
.marl40{margin-left:0.4rem !important;}
.marl45{margin-left:0.45rem !important;}
.marl50{margin-left:0.5rem !important;}


.marlr10{margin:0px 0.1rem;}
.marlr15{margin:0px 0.15rem;}
.marlr20{margin-left:0.2rem !important;margin-right:0.2rem !important;}
.marlr25{margin-left:0.25rem !important; margin-right:0.25rem !important;}
.marlr30{margin-left:0.3rem !important;margin-right:0.3rem !important;}
.marlr35{margin-left:0.35rem !important;margin-right:0.35rem !important;}

.martb10{margin:0.1rem 0px;}
.martb15{margin:0.15rem 0px}
.martb20{margin:0.2rem 0px;}
.martb25{margin:0.25rem 0px;}
.martb30{margin:0.3rem 0px;}
.martb35{margin:0.35rem 0px;}

.mart100{margin-top:1rem !important}
.mart120{margin-top:1.2rem !important;}
.marb100{margin-bottom:1rem;}
.marb120{margin-bottom:1.2rem;}


/* padding */

.padt0{padding-top:0rem !important;}
.padt10{padding-top:0.1rem !important;}
.padt15{padding-top:0.15rem !important;}
.padt20{padding-top:0.2rem !important;}
.padt25{padding-top:0.25rem !important;}
.padt30{ padding-top:0.3rem !important;}
.padt35{padding-top:0.35rem !important;}
.padt40{padding-top:0.4rem !important;}
.padt45{padding-top:0.45rem !important;}
.padt50{padding-top:0.5rem !important;}
.padt60{padding-top:0.6rem !important;}

.padr0{padding-right:0px !important;}
.padr10{padding-right:0.1rem !important;}
.padr15{padding-right:0.15rem !important;}
.padr20{padding-right:0.2rem !important;}
.padr25{padding-right:0.25rem !important;}
.padr30{padding-right:0.3rem !important;}
.padr35{padding-right:0.35rem !important;}
.padr40{padding-right:0.4rem !important;}
.padr45{padding-right:0.45rem !important;}
.padr50{padding-right:0.5rem !important;}
.padr60{padding-right:0.6rem !important;}

.padb0{padding-bottom:0px !important;}
.padb10{padding-bottom:0.1rem !important;}
.padb15{padding-bottom:0.15rem !important;}
.padb20{padding-bottom:0.2rem !important;}
.padb25{padding-bottom:0.25rem !important;}
.padb30{padding-bottom:0.3rem !important;}
.padb35{padding-bottom:0.35rem !important;}
.padb40{padding-bottom:0.4rem !important;}
.padb45{padding-bottom:0.45rem !important;}
.padb50{padding-bottom:0.5rem !important;}
.padb60{padding-bottom:0.6rem !important;}

.padl10{padding-left:0px !important;}
.padl10{padding-left:0.1rem !important;}
.padl15{padding-left:0.15rem !important;}
.padl20{padding-left:0.2rem !important;}
.padl25{padding-left:0.25rem !important;}
.padl30{padding-left:0.3rem !important;}
.padl35{padding-left:0.35rem !important;}
.padl40{padding-left:0.4rem !important;}
.padl45{padding-left:0.45rem !important;}
.padl50{padding-left:0.5rem !important;}
.padl60{padding-left:0.6rem !important;}

.padlr10{padding:0px 0.1rem;}
.padlr15{padding:0px 0.15rem;}
.padlr20{padding-left:0.2rem !important;padding-right:0.2rem !important;}
.padlr25{padding-left:0.25rem !important; padding-right:0.25rem !important;}
.padlr30{padding-left:0.3rem !important;padding-right:0.3rem !important;}
.padlr35{padding-left:0.35rem !important;padding-right:0.35rem !important;}

.padtb10{padding:0.1rem 0px;}
.padtb15{padding:0.15rem 0px;}
.padtb20{padding:0.2rem 0px;}
.padtb25{padding:0.25rem 0px;}
.padtb30{padding:0.3rem 0px;}
.padtb35{padding:0.35rem 0px;}

.padt100{padding-top:1rem !important;}
.padt120{padding-top:1.2rem !important;}
.padb100{padding-bottom:1rem !important;}
.padb120{padding-bottom:1.2rem !important}
  
/* border */
.bordert1{border-top:1px solid transparent !important;}
.borderb0 { border-bottom:0!important;}
.bordertransparent{ border:1px solid transparent !important}
.border0{border:0px !important}


/*font-size:20px 字体大小*/
.c-f26{font-size:0.26rem;}
.c-f28{font-size:0.28rem !important;}
.c-f30{font-size:0.3rem;}
.c-f32{font-size:0.32rem;}
.c-f34{font-size:0.34rem;}
.c-f36{font-size:0.36rem;}
.c-f40{font-size:0.4rem;}
.c-f50{font-size:0.5rem;}
.c-f60{font-size:0.6rem;}
.c-f0{font-size:0px;}

  
/****font-color***字体颜色****/
.c-303030{
  color:#303030;
}
.c-ab0000{
  color:#ab0000;
}
.c-fff{
  color:#ffffff;
}
/* background */
.bg-fff{ background:#fff;}
.bg-eee{ background:#eeeeee;}

/**一行文本显示****/
.c-nowrap{
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-nowrap2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow:ellipsis;
}
/* 设置元素的盒模型为border-box */
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}

/*去除元素周围的虚线*/
*:focus{outline:none}

*{
   box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  -webkit-tap-highlight-color: transparent;

}

/***input输入框***/
 input:-moz-placeholder {
  color: #b2b2b2;
}

 input::-moz-placeholder {
  color: #b2b2b2;
}

 input:-ms-input-placeholder {
  color: #b2b2b2;
}

 input::-webkit-input-placeholder {
  color: #b2b2b2;
}



/*模拟checkbox 选中效果:红色背景 圆点*/
.check-tip {
  display: inline-block;
  height: 0.26rem;
  width: 0.26rem;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  margin-left: 0.26rem;
  vertical-align: middle;
  margin-right: 0.1rem;
}
.check-tip.checked {
  background: #FE2B53;
  box-shadow: 0px 0px 2px #fc5270;
}

/*****弹框样式*******/
.pop{
  position:fixed;
  left:50%;
  top:0px;
  bottom:0px;
  background:rgba(0,0,0,0.3);
  width:7.5rem;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  transform:translateX(-50%);
  z-index:10;
}
.pop .areapart{
  position:absolute;
  left:50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
   /*  opacity:0;*/
 /* transition:all 0.3s;*/
}
/*#pop.actvive{display:block;}
#pop .areapart.active{opacity:1;top:50%;}*/








/*html {
  font-size: 42.66667px !important;
}
body {
  margin: 0 auto;
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 42.66667px !important;
  }
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 48px !important;
  }
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 50px !important;
  }
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 53.33333px !important;
  }
}

@media only screen and (min-width: 414px) {
  html {
    font-size: 55.2px !important;
  }
}

@media only screen and (min-width: 540px) {
  html {
    font-size: 72px !important;
  }
}

@media only screen and (min-width: 750px) {
  html {
    font-size: 100px !important;    
  }
}*/

/****
  计算字体方法,设计的图尺寸是以iphone 750为宽度的,假设
  1rem=75px;-->先扩大到100px。所以其他分辨率的尺寸就是
  750  100(font-size:100px)-->540px以上的
  540   x    所以字体大小就是x=72px(font-size:72px)
***/

/* .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
  background-color: #333;
  border-radius:5px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-color: #337ab7;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
  border-radius:5px;
   margin-top:7px !important;
   padding:8px !important;
} 

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
 */
/* .nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
} */